@mixin alignCenter {
  display: flex;
  align-items: center;
}
@function arrow-height($n) {
  @return $n * 1.4;
}
@mixin arrow($size) {
  display: inline-block;
  position: relative;
  border: $size solid transparent;
  border-top-color: #333;
  box-sizing: border-box;
  &::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    top: -(arrow-height($size));
    left: -$size;
    border: $size solid transparent;
    border-top-color: #fff;
  }
}
@mixin arrow-right($size) {
  height: 0;
  width: 0;
  display: inline-block;
  position: relative;
  border: $size solid transparent;
  border-left-color: #b8b8b8;
  box-sizing: border-box;
  &::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    left: -($size * 1.2);
    top: -$size;
    border: $size solid transparent;
    border-left-color: #fff;
  }
}
